# Firebase Configuration
VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=arch-db.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=arch-db
VITE_FIREBASE_STORAGE_BUCKET=arch-db.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
VITE_FIREBASE_APP_ID=your_app_id
